<div class="main">
  <button mat-raised-button [matMenuTriggerFor]="menu1">Menu 1px</button>
  <mat-menu #menu1="matMenu" hasBackdrop="false">
    <button mat-menu-item *ngFor="let icon of icons">
      <mat-icon [svgIcon]="icon.icon + '1'"></mat-icon>{{ icon.title }}
    </button>
  </mat-menu>

  <button mat-raised-button [matMenuTriggerFor]="menu15">Menu 1.5px</button>
  <mat-menu #menu15="matMenu" hasBackdrop="false">
    <button mat-menu-item *ngFor="let icon of icons">
      <mat-icon [svgIcon]="icon.icon + '15'"></mat-icon>{{ icon.title }}
    </button>
  </mat-menu>

  <button mat-raised-button [matMenuTriggerFor]="menu2">Menu 2px</button>
  <mat-menu #menu2="matMenu" hasBackdrop="false">
    <button mat-menu-item *ngFor="let icon of icons">
      <mat-icon [svgIcon]="icon.icon + '2'"></mat-icon>{{ icon.title }}
    </button>
  </mat-menu>

  <button mat-raised-button [matMenuTriggerFor]="menu3">Menu 300</button>
  <mat-menu #menu3="matMenu" hasBackdrop="false">
    <button mat-menu-item *ngFor="let icon of icons">
      <mat-icon [svgIcon]="icon.icon + '3'"></mat-icon>{{ icon.title }}
    </button>
  </mat-menu>

  <button mat-raised-button [matMenuTriggerFor]="menu13">Menu 1.33px</button>
  <mat-menu #menu13="matMenu" hasBackdrop="false">
    <button mat-menu-item *ngFor="let icon of icons">
      <mat-icon [svgIcon]="icon.icon + '13'"></mat-icon>{{ icon.title }}
    </button>
  </mat-menu>

  <button mat-raised-button [matMenuTriggerFor]="menu16">Menu 1.67px</button>
  <mat-menu #menu16="matMenu" hasBackdrop="false">
    <button mat-menu-item *ngFor="let icon of icons">
      <mat-icon [svgIcon]="icon.icon + '16'"></mat-icon>{{ icon.title }}
    </button>
  </mat-menu>

  <button mat-raised-button [matMenuTriggerFor]="menuf">Menu filled</button>
  <mat-menu #menuf="matMenu" hasBackdrop="false">
    <button mat-menu-item *ngFor="let icon of icons">
      <mat-icon [svgIcon]="icon.icon + 'f'"></mat-icon>{{ icon.title }}
    </button>
  </mat-menu>
</div>
